.expansion-panel-item {
    border-block-end: 1px solid var(--gray-light-1);
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    transition: var(--fast-speed);

    &:hover {
        background: var(--primary-light);
    }

    &__bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: var(--fast-speed);
        cursor: pointer;
        padding-block-start: 1.2rem;
        padding-block-end: 1.2rem;
        user-select: none;
    }

    &__title {
        font-weight: var(--font-weight-b);
        color: black;
        min-width: 190px;
        max-width: 190px;
        margin-inline-end: 1rem;
    }

    &__description {
        margin-inline-end: 1rem;
    }

    &__icon {
        margin-inline-start: auto;

        i {
            transition: var(--normal-speed);
        }
    }

    &__content {
        transition: var(--normal-speed);
        // margin-block-start: 1rem;
        padding-block-start: 0.6rem;
        padding-block-end: 1rem;
        padding-inline-start: 1rem;
        animation: fadeIn 400ms forwards;
        // background: var(--gray-light-0);
        border-radius: var(--border-radius);
        // padding: 1rem;

        // margin-inline-start: 2rem;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
    }
}

.collapsed {
    opacity: 0;
    height: 0;
    padding: 0;
    // padding: 0;
    pointer-events: none;
    display: none;
    // transform: translateY(-100%);
    // transition: var(--normal-speed);
}

.no-hover {
    &:hover {
        background: white;
    }
    padding-block-end: 1.5rem;
}

.rotate {
    transform: rotate(180deg);
}

@import 'src/scss/variables/breakpoints';

@media only screen and (max-width: $mobile) {
    .expansion-panel-item {
        &__bar {
            padding-block-start: 1.1rem;
            padding-block-end: 1.1rem;
        }

        &__title {
            // font-weight: var(--font-weight-b);
            color: black;
            min-width: 112px;
            max-width: 112px;
            margin-inline-end: 1rem;
        }
    }
}