<div class="expansion-panel-item" [class.no-hover]="!collapsed" [attr.data-intercom-target]="title">
    <div class="expansion-panel-item__bar-container">
        <div class="expansion-panel-item__bar" (click)="onBarClick()">
            <div class="expansion-panel-item__title">
                {{ title }}
            </div>
            <div class="expansion-panel-item__description">
                {{ description }}
            </div>
            <div class="expansion-panel-item__icon">
                <i class="fas fa-chevron-down" [class.rotate]="!collapsed"></i>
            </div>
        </div>
    </div>

    <div class="expansion-panel-item__content" [class.collapsed]="collapsed">
        <ng-content></ng-content>
    </div>
</div>