.search {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__bar {
        margin: 2rem 0;
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .title-input {
            max-width: 400px;
            min-width: 400px;
            margin: 0 .75rem;
        }
    }

    &__dots {
        width: 80px;
    }

    &__results {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
    }
}

#illustration {
    max-height: 170px;
    // position: absolute;
    // bottom: 0px;
    // left: 50px;
}

@import 'src/scss/variables/breakpoints';

@media only screen and (max-width: $tablet) {
    .search {
        &__bar {
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 2rem 0;

            .title-input {
                max-width: 400px;
                min-width: 250px;
                width: 100%;
                margin: .75rem 0;
            }
        }

        &__results {
            justify-content: center;
        }
    }
}