<div id="overlay" (click)="collapse()" *ngIf="!isCollapsed"></div>
<!-- <div class="container" (click)="onClick()"> -->
<!-- <i class="icon fas fa-ellipsis-v"></i> -->
<!-- <i class="fas fa-chevron-down"></i> -->

<div class="menu" *ngIf="!isCollapsed">
    <div [@dropdownAnimation]="items?.length">
        <div class="menu__item-wrapper" *ngFor="let item of items">
            <div class="menu__item" (click)="onItemClick(item)">
                <i [class]="item.icon"></i>
                <span>
                    {{ item.label | translate}}
                </span>
                <i *ngIf="item.options" class="menu__arrow fas fa-chevron-down"></i>
            </div>
            <div class="menu__item-options" *ngIf="item.options">
                <div class="menu__item-option" *ngFor="let option of item.options" (click)="onOptionClick(item, option)">
                    <span>{{ option.label }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->