.welcome {
    display: flex;
    flex-direction: row;
    background: #D2D7D9;

    &__hero {
        height: 100vh;
        width: 50vw;
        position: relative;
        animation: fadeIn 550ms forwards;
        opacity: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h1 {
            position: absolute;
            top: 2rem;
            left: 2rem;
            color: black;
            // background-color: var(--black-opacity);
            padding: .5rem;
            border-radius: var(--border-radius);
            color: #362923;
        }
    }

    &__content {
        width: 50vw;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fadeIn 450ms 250ms forwards;
        opacity: 0;

        h2 {
            color: #1A1919;
        }
    }

    &__form {
        border: 1px solid gray;
        border-radius: var(--border-radius);
        padding: 3rem;
        margin-block-start: 2rem;
        box-shadow: var(--shadow-3);
        background: rgba(255, 255, 255, 0.8);
        animation: slideUp 550ms 400ms forwards;
        opacity: 0;
    }

    &__cta {
        max-width: 320px;
        min-width: 320px;
    }

    .title-input {
        max-width: 320px;
        margin-block-start: 2rem;
    }
}

@import 'src/scss/variables/breakpoints';

@media only screen and (max-width: $tablet) {
    .welcome {
        flex-direction: column-reverse;

        &__hero {
            max-height: 40vh;
            height: 40vh;
            width: 100vw;

            h1 {
                color: white;
            }

            img {
                min-width: 100vh;
            }
        }

        &__content {
            max-height: 60vh;
            height: 60vh;
            width: 100vw;
            padding: 1rem;
        }
        
        &__form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__cta {
            width: 100%;
            max-width: 320px;
            min-width: 200px;
        }
    }
}