.switch {
    $width: 37px;
    $height: 20px;
    $radius: 34px;
    background: lightgray;
    min-height: $height;
    min-width: $width;
    max-height: $height;
    max-width: $width;
    border-radius: $radius;
    cursor: pointer;
    position: relative;
    transition: 200ms ease-in-out;

    &__slider {
        $size: calc(#{$height} * 0.80);
        background: white;
        height: $size;
        width: $size;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        transition: 200ms ease-in-out;

        cursor: pointer;
        box-shadow: var(--shadow-3);
      }
  }

.on {
    background: var(--primary);

    .switch__slider {
        transform: translateX(calc(50% + 9px));
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}