.container {
    width: 100%;
    text-align: center;
    height: 38px;
    background: transparent;
    line-height: 38px;
    // border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    flex-direction: row;
    
    .tab {
        transition: var(--fast-speed);
        cursor: pointer;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        border-bottom: 3px solid transparent;
        padding: 0 1.5rem;
        border-bottom: 3px solid var(--primary-light);

        &:hover {
            color: var(--primary);
        }
    }

    .selected {
        background: var(--primary-light);
        border-bottom: 3px solid var(--primary);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        pointer-events: none;
        // color: var(--primary);
    }
}