<div class="container">
    <div class="dashboard__header">
        <div class="dashboard__header__first">
            <h1>Search</h1>
        </div>
    </div>

    <div class="search">
        <div class="search__bar">
            <div class="title-input">
                <div class="title-input__title">
                    <span>
                        <i class="fas fa-search mrd5"></i>
                        <span>
                            Search
                        </span>
                    </span>
                </div>
                <div class="title-input__input">
                    <input #searchInput type="text" class="input" placeholder="Search for a book">
                </div>
            </div>
            <div class="search__dots mt1">
                <app-dots *ngIf="isLoading$ | async"></app-dots>
            </div>
        </div>

        <div class="search__paging">
            <i class="fas fa-chevron-circle-left" (click)="onPreviousPageClick()"></i>
            <span>
                {{ currentPage$ | async }} / {{ totalPages$ | async }}
            </span>
            <i class="fas fa-chevron-circle-right" (click)="onNextPageClick()"></i>
        </div>

        <div class="search__results" *ngIf="(results$ | async)?.length as resultsLength else emptySearch" [@listAnimation]="resultsLength">
            <ng-container *ngFor="let book of results$ | async">
                <app-book-card [book]="book" [isFoundOnWishlist]="isFoundOnWishlist(book) | async" (clicked)="onBookClicked($event)" (wishlistClicked)="onWishlistClick($event)"></app-book-card>
            </ng-container>
        </div>

        <ng-template #emptySearch>
            <div class="empty-data mt3">
                <img id="illustration" src="assets/illustrations/empty.svg" alt="">
                <span>It seems you did not searched for any book yet</span>
            </div>
        </ng-template>

    </div>
</div>