.progress-indicator {
    height: 4px;
    width: 100%;
    background: var(--light-2);

    &__line {
        height: inherit;
        width: 100%;
        background: var(--dark-0);
        transition: 500ms ease-out;
    }
}