<div class="upgrade">
    <div class="ver-line"></div>
    <div class="upgrade__days-upgrade">
        <span>{{'app.free_trial' | translate}}: <span class="upgrade__days-left" [ngClass]="{'color-orange': daysLeft >= 4 && daysLeft <= 7, 'color-red': daysLeft <= 3}">{{
                daysLeft }}</span> {{'app.days_left' | translate}}</span>
                <!-- Add button when billing is set -->
        <!-- <button class="button-primary-light--outline" [class.button--filled]="daysLeft <= 3" (click)="onUpgradeClick()">
            <i class="fas fa-bolt"></i>
            <span>
                {{'app.upgrade' | translate}}
            </span>
        </button> -->
    </div>
</div>