<div class="not-available" *ngIf="!isCompleted; else completed">
    <div class="not-available__title">
        Unfortunately Vee is not yet available in your country
    </div>

    <div class="not-available__description">
        Would you like us to let you know when it’s available?<br>Write down your email and we’ll make sure to let you know on time
    </div>

    <div class="not-available__input">
        <span>Email</span>
        <input #email type="email" email class="input" placeholder="Type your Email here" (keyup.enter)="onCTAClick(email.value)">
    </div>

    <div class="not-available__cta">
        <button class="button-accent" (click)="onCTAClick(email.value)" [class.disabled]="email.invalid">Let me know</button>
    </div>
</div>
<ng-template #completed>
    <div class="not-available">
        <div class="not-available__title">
            Thank you
        </div>
    </div>
</ng-template>
