.book-details {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding: 3rem;

    &__image {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;

        img {
            width: 250px;
            max-height: 300px;
            object-fit: cover;
            // max-width: 200px;
            margin: 0 auto;
            border-radius: var(--border-radius);
        }
    }

    &__title {
        margin-block-start: 1rem;
        font-size: var(--font-size-l1);
        font-family: 'Montserrat';
        font-weight: var(--font-weight-b);
        text-overflow: ellipsis;
        text-align: center;
    }

    &__author {
        color: gray;
        text-align: center;
        margin-block-start: .5rem;
    }

    &__header {
        // text-decoration: underline;
        margin-block-start: 1.5rem;
        color: gray;
        font-weight: var(--font-weight-b);
    }

    &__value {
        margin-block-start: .5rem;
    }
}

@import 'src/scss/variables/breakpoints';

@media only screen and (max-width: $tablet) {
    .book-details {
        width: 100vw;
    }
}