@import 'scss/styles.scss';

.splash {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--light-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 400ms ease-out;

    .logo-loading {
        text-align: center;

        #logo {
            margin-block-end: 2rem;   
            max-height: 40px;
            max-width: 100px;
            animation: fadeIn 400ms forwards;
        }

        #text-logo {
            margin-block-end: 2rem;   
            // max-height: 40px;
            // max-width: 100px;
            animation: fadeIn 400ms forwards;

            font-family: 'Montserrat';
            font-size: 1.6rem;
            font-weight: var(--font-weight-b2);
            color: var(--primary);
            margin-block-end: 3rem;
            user-select: none;
            min-width: 200px;
        }
    
        .loading-bar {
            height: 3px;
            opacity: 1;
            width: 100%;
            overflow: hidden;
            position: sticky;
            background: var(--primary-light);
            z-index: 1100;
            min-width: 200px;
        
            &__line {
                height: inherit;
                width: 200px;
                background: var(--primary);
                animation: indeterminate 2.3s infinite;
                position: absolute;
            }
        }
    }

}