.container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

i {
    transition: var(--fast-speed);
    cursor: pointer;

    &:hover {
        transform: scale(1.1)
    }
}

.stars {
    position: relative;
    color: '#fce8b2';
}

.rating {
    display: inline-block;
    margin-inline-end: 0.5rem;
    font-size: 12px;
}