.book-details {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 3rem;

    &__image {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;

        img {
            width: 250px;
            max-height: 300px;
            object-fit: cover;
            margin: 0 auto;
            border-radius: var(--border-radius);
            box-shadow: var(--shadow-2);
            min-height: 250px;
            background: lightgray;
        }
    }

    &__title {
        margin-block-start: 1rem;
        font-size: var(--font-size-l1);
        font-family: 'Montserrat';
        font-weight: var(--font-weight-b);
        text-overflow: ellipsis;
        text-align: center;
    }

    &__subtitle {
        text-align: center;
    }

    &__author {
        color: gray;
        text-align: center;
        margin-block-start: .5rem;
    }

    &__header {
        // text-decoration: underline;
        margin-block-start: 1.5rem;
        color: gray;
        font-weight: var(--font-weight-b);
    }

    &__value {
        margin-block-start: .5rem;
    }

    &__wishlist {
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        border: 1px solid lightgray;
        padding: 0 .75rem;
        height: 39px;
        line-height: 39px;
        cursor: pointer;
        transition: var(--fast-speed);
        top: 1rem;
        right: 1rem;
        user-select: none;

        &:hover {
            border: 1px solid var(--yellow);
            color: var(--yellow);
        }
    }
}

@import 'src/scss/variables/breakpoints';

@media only screen and (max-width: $tablet) {
    .book-details {
        width: 100vw;
    }
}